<%= form_for @inquire do |f| %>
	<div>
		<%= f.label :nature_of_business_id %>
		<%= f.select :nature_of_business_id, NatureOfBusiness.all.map{ |nature| [nature.name, nature.id]} %>
	</div>
	<div>
		<%= f.label :source_id %>
		<%= f.select :source_id, Source.all.map{ |source| [source.name, source.id]} %>
	</div>
	<div>
		<%= f.label :company_name %>
		<%= f.text_field :company_name %>
	</div>
	<div>
		<%= f.label :interest %>
		<%= f.text_field :interest %>
	</div>
	<div>
		<%= f.label :interest %>
		<%= f.text_field :interest %>
	</div>
	<div>
	<%= f.label :house_number %>
	<%= f.text_field :house_number %>
	</div>
	<div>
		<%= f.label :street %>
		<%= f.text_field :street %>
	</div>
	<div>
		<%= f.label :barangay %>
		<%= f.text_field :barangay %>
	</div>
	<div>
		<%= f.label :town %>
		<%= f.text_field :town %>
	</div>
	<div>
		<%= f.label :province %>
		<%= f.text_field :province %>
	</div>
	<div>
		<%= f.label :condo %>
		<%= f.text_field :condo %>
	</div>
	<div>
		<%= f.label :primary_contact_person %>
		<%= f.text_field :primary_contact_person %>
	</div>
	<div>
		<%= f.label :primary_contact_number %>
		<%= f.text_field :primary_contact_number %>
	</div>
	<div>
		<%= f.label :primary_fax_number %>
		<%= f.text_field :primary_fax_number %>
	</div>
	<div>
		<%= f.label :primary_email %>
		<%= f.text_field :primary_email %>
	</div>
	<div>
		<%= f.label :secondary_contact_person %>
		<%= f.text_field :secondary_contact_person %>
	</div>
	<div>
		<%= f.label :secondary_contact_number %>
		<%= f.text_field :secondary_contact_number %>
	</div>
	<div>
		<%= f.label :secondary_fax_number %>
		<%= f.text_field :secondary_fax_number %>
	</div>
	<div>
		<%= f.label :secondary_email %>
		<%= f.text_field :secondary_email %>
	</div>
 
	<%= f.submit %>
<% end %>
