<div>
	<%= @inquire.company_name %>
	<h5>Created by: <%= @inquire.user.email %></h5>
</div>
<div>
	<%= %>
</div>
<div>
	<%= link_to "Delete", inquire_path(@inquire), :confirm => "Are you sure??", :method => :delete %> ||
	<%= link_to "Edit", edit_inquire_path %> >>>>
	<%= link_to "Transfer to Client", client_inquire_path %>
</div>
<%= link_to "<< Back to All Inquire", inquires_path %>